* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: hsl(30, 38%, 92%);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
  margin: 5% auto;
  width: 350px;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  padding: 30px;
  padding-top: 0px;
}

.productImage {
  display: block;
  width: 350px;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 30px;
}

.paraHead {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  padding: 0px 25px 25px 0px;
  font-size: 12px;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}

.headingHead {
  font-family: "Fraunces", serif;
  text-transform: capitalize;
  padding: 0px 10px 25px 0px;
  font-size: 32px;
  font-weight: 700;
}

.mainPara {
  font-family: "Montserrat", sans-serif;
  padding: 0px 10px 25px 0px;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 500;
}

.priceContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 0px 10px 25px 0px;
}

.discountedPrice {
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

.OriginalPrice {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

.addToCartBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: hsl(158, 36%, 37%);
  width: 100%;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  color: hsl(0, 0%, 100%);
  border: none;
  font-weight: 600;
}

.addToCartBtn:hover {
  background-color: hsl(158, 42%, 18%);
}

.icon-cart {
  color: hsl(0, 0%, 100%);
  padding-left: 8px;
  padding-right: 8px;
}

/* the desktop view ========== */

@media screen and (min-width: 769px) {
  .mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    margin: 10% auto;
    width: 700px;
    height: 100%;
    border-radius: 10px;
    padding: 0px;
  }

  .productImage {
    display: flex;
    width: 350px;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    margin-bottom: 0px;
  }

  .desktopCc {
    padding: 40px;
  }
}
